/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-black: #474242;
  --color-green: #80cebe;
  --color-midigreen: #9fdebd;
  --color-darkgreen: #c4f2ce;
  --color-beige: #eff4e7;
  /* Font size */
  --font-large: 48px;
  --font-meedium: 25px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  /* Size */
  --size-border-radius: 4px;
  /* Annimation */
  --animation-duration: 300ms;

  /*skill bar*/
  --skill1: #ede86570;
  --skill2: #ede8658a;
  --skill3: #ede865b0;
  --skill4: #ede865d3;
  --skill5: #ede865;
}

* {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box; /*중요*/
}

body {
  font-family: "Open Sans";
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  list-style: none;
}

/*----------------------------------------------*/

/* Navar - 상단바 */
.fa-diaspora {
  display: inline;
}

.navbar {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-green);
  padding: 12px;
  color: var(--color-white);
}

.navbar__logo {
  font-size: var(--font-meedium);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.navbar__menu__item {
  display: block;
  width: 20%;
  cursor: pointer;
  border-radius: var(--size-border-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar__menu__item:hover {
  background-color: var(--color-darkgreen);
}
/*----------------------------------------------*/
.section {
  width: 100%;
  height: 100%;
}

/*섹션 버튼*/
.section__pagebutton {
  position: relative;
  width: 200px;
  height: 30px;
  margin: 0 auto;
  display: flex;
}
.fa-hand-point-up,
.fa-hand-point-down {
  margin: 0 auto;
  cursor: pointer;
  width: 30px;
  height: 30px;
  font-size: 30px;
  color: var(--color-green);
}

/*섹션 첫번째 페이지*/
#section__one {
  background-color: var(--color-baige);
  display: grid;
  grid-template-rows: 90% 10%;
}

.section__one__main {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  display: flex;
}

.section__one__main_text {
  margin-top: 10%;
  height: 90%;
  display: grid;
  grid-template-rows: 45% 20% 25% 10%;
  font-size: var(--font-regular);
}
.section__one__main_text__introduce1 {
  display: grid;
  grid-template-rows: 10% 20% 60%;
}
.section__one__main_text__h3 {
  font-size: var(--font-meedium);
}
.section__one__main_text__introduce2 {
  display: flex;
  justify-content: flex-start;
  font-size: var(--font-meedium);
}
.section__one__main_text__introduce3 {
  padding-top: 5%;
}

.section__one__main_text__introduce2__font {
  font-size: 60px;
  display: inline;
}
.fa-people-carry {
  color: rgb(0, 17, 255);
}
.fa-edit {
  color: #ffbb00;
}
.fa-fire {
  color: red;
}
.about__school{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction:column;
}
.school {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
}
.school__img{
  width: 12%;
  height: 72%;
  padding-right: 2%;
} 
.school__description{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction:column;
  justify-content: space-between; 
}
.school__name {
  font-size: var(--font-small); 
}

.school__period {
  font-size: var(--font-micro);
}
.home__avatar {
  margin-top: 40%;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

/*섹션 두번째 페이지*/
#section__two {
  background-color: var(--color-baige);
}
.section__two__main {
  width: 100%;
  height: 90%;
  margin: 0 auto;
  display: flex;
}
.major {
  margin-top: 8%;
  text-align: center;
  display: grid;
  grid-template-rows: 30% 50%;
}

.about__majors {
  display: flex;
  justify-content: space-between;
}

.major__icon {
  width: 40%;
  height: 80%;
  margin: 2% auto;
  color: var(--color-black);
  border: 2px solid var(--color-black);
  border-radius: 50%;
  display: grid;
  grid-template-rows: 30% 70%;
}
.fa-major {
  font-size: var(--font-large);
}
.fa-major:hover {
  color: var(--color-green);
  transform: rotate(-30deg) scale(1.2);
}

/*섹션 두번째의 스킬 바*/
.skill__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.skill__bar__container {
  position: relative;
  width: 70%;
  height: 7%;
  border-radius: 4px;
  background-color: whitesmoke;
  overflow: hidden;
}

.skill__name {
  z-index: 1;
  position: absolute;
  width: 10%;
  left: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.skill__percent {
  z-index: 1;
  position: absolute;
  right: 5%;
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.skill__bar {
  position: absolute;
  left: 0;
}
.level1 {
  width: 20%;
  background-color: var(--skill1);
}
.level2 {
  width: 40%;
  background-color: var(--skill2);
}
.level3 {
  width: 60%;
  background-color: var(--skill3);
}
.level4 {
  width: 80%;
  background-color: var(--skill4);
}
.level5 {
  width: 100%;
  background-color: var(--skill5);
}

/*섹션 세번째 페이지*/
#section__three {
  background-color: var(--color-baige);
}
.section__three__main {
  width: 100%;
  height: 90%;
  margin: 0 auto;
  display: grid;
  place-items: center;
  grid-template-columns: 25% 25% 25% 25%;
}
.section__three__main__project {
  margin: 8% 2% 0 2%;
  width: 80%;
  height: 80%;
  border: 3px var(--color-green) solid;
  border-radius: 5px;
  cursor: pointer;
  display: grid;
  grid-template-rows: 10% 60% 30%;
  text-align: center;
}
.section__three__main__project:hover {
  z-index: 1;
  background-color: var(--color-darkgreen);
}
.section__three__main__project__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*모달창 관련 된 것들*/
.modal__bg {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}
.modal__wrap {
  display: grid;
  width: 40%;
  height: 80%;
  margin: 0 auto;
  margin-top: 8%;
  position: relative;
  background: var(--color-white);
  z-index: 2;
  grid-template-rows: 55% 5% 5% 30% 5%;
  border: var(--color-white) 1px solid;
  border-radius: 3%;
  font-size: 20px;
  padding: 3px;
}
.my_video {
  width: 100%;
  height: 100%;
}
.modal__wrap__goal {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 20% 80%;
}
.modal__wrap__goal__list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.modal__close {
  margin: 0 auto;
  text-align: center;
  width: 20%;
  height: 80%;
  background-color: var(--color-green);
  border: var(--color-white) 1px solid;
  border-radius: var(--size-border-radius);
  cursor: pointer;
}
.modal__close:hover {
  background-color: var(--color-darkgreen);
}
.modal__wrap__goal__list__href:hover {
  background-color: #ede865;
}

/*섹션 네번째 페이지*/
#section__four {
  background-color: var(--color-baige);
}
.section__four__main {
  width: 40%;
  height: 72%;
  margin: 0 auto;
  margin-top: 10%;
  display: grid;
  grid-template-rows: 35% 10% 55%;
  border-top: 2px var(--color-midigreen) solid;
  border-radius: 50%;
}
/*중간의 라인과 이미지*/
.section__four__main__thank {
  font-size: var(--font-large);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.section__four__main__img {
  width: 100%;
  margin: 2% 0 2% 0;
  display: flex;
  justify-content: center;
}
.fa-envelope-open-text {
  width: 10%;
  font-size: var(--font-meedium);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section__four__main__img__line {
  display: inline-block;
  width: 30%;
  height: 50%;
  border-bottom: 2px var(--color-black) solid;
}
.fa-envelope-open-text {
  font-size: var(--font-meedium);
}
/*나의 주소들*/
.section__four__main__myinfo {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.section__four__main__email {
  width: 100%;
  height: 14%;
}
/* 